*{
    margin: 0;
    padding: 0;
}
.logo{
    background-color: rgb(11, 28, 46);
    display: flex;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    padding: 2px;
}
.logo strong{
    font-size: 17px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: #e0dbdb;
    padding: 5px;
    margin-top: 7px; 
}
.logo h3{
    font-size: 17px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    color: #e0dbdb;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 4px;
}
.logo h3 span{
    text-transform: uppercase;
    font-size: 41px;
}

/*  */

.nav-2{
    /* width: 98%; */
    background-color: #FFFFFFFF;
    display: flex;
    padding: 10px;
    margin: 0% 13%;
    border-bottom: 1px solid chocolate;
 
}
@media (max-width:500px){
    .nav-2 {
     margin: 1% 0%;
     padding: 6px;
     display: block;
     /* background-color: rgb(192, 98, 30); */
     border-bottom: 1px solid #FFFFFF;
     /* width: 95%; */
    }
 }
 .nav-2 a{
    margin-right: 20px;
    font-size: 19px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    color:#333;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 5px;
}
@media (max-width:500px){
    .nav-2 .link {
        display: none;
    }
}
.nav-2 a:hover{
    text-decoration: underline;
}

/*  */
.menu-logo{
    display: none;
}
@media (max-width:500px){
    .menu-logo{
    display: block;
    }
 }
 .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    transition: 0.5s;
    display: block;
    padding-top: 60px;
 }
 @media (max-width:500px){
    .sidenav{
    
    }
 }
.sidenav .closebtn{
        position: absolute;
        top: 0%;
        right: 0px;
        font-size: 36px;
        margin-left: 10px;
        
}
@media (max-width:500px){
    .sidenav .closebtn{
        top: 0%;
        right:0px;
        font-size: 36px;
        margin-left: 10px;
        color:#eee;
        text-align: right;
        width: fit-content;
        background-color: rgb(215, 80, 80);
        border: 2px solid rgb(215, 80, 80);
    }
 }
.sidenav a{
    margin-right: 10px;
    font-size: 19px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    color:#333;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 50px;
    display: none;
    
}
@media (max-width:500px){
    .sidenav a{
       display: block;
       margin-top: 1%;
       padding: 17px; 
       color: #cac5c5;
       border-bottom: 0.2px solid #555;
       /* background-color: rgb(122, 81, 53); */
    }
}
.sidenav a:hover{
    /* text-decoration: underline; */
    color: #f1f1f1;
    background-color: rgb(47, 148, 249);
}

/* header code */

.back-img{
    background-color: #000;
    position: relative;
    margin-top: 2%;
}
.back-img img{
    width: 100%;
    height: 80vh;
    opacity: .4;
}
.text-block{
    position: absolute;
    bottom: 2vh;
    left:1.7%;
    color: #EEE;
    padding-left: 20px;
    top: 9%;
}
@media (max-width:500px){
    .text-block{
        left: 0%;
        padding-left: 5px;
        top: 8%;
    }
}
.text-block h1{
    text-transform: capitalize;
    font-size: 53px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    top: 6%;
    margin-left: 23%;
}
@media (max-width:500px){
    .text-block h1{
       margin-left:2%;
      font-size: 35px;
    }
}
.text-block h2{
    text-transform: capitalize;
    font-size: 42px;
    padding: 5px;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.text-block p{
    margin: 2% 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 18px;
    color:#cac5c5;
}
/* slide code */

.slide-container{
    text-align: center;
    margin-top:4%;
}
.slide_in{
    font-size: 18px;
    /* background-image: -webkit-radial-gradient(white,#eee);
    background-image: radial-gradient(#eee,white); */
    animation: slideMe .7s ease-in;
     /* background-color: #eee; */
     border-radius: 12px;
   
}
@keyframes slideMe{
    0%{
       transform: skewX(53deg) translateX(-500px);
       opacity: 0;
    }
    60%{
        transform: translateX(0px);
    }
    62%{
        transform: scaleX(0deg) translateX(30px);
    }
    70%{
        transform: skew(-20deg);
        opacity: 1;
    }
    80%{
        transform: skew(0deg) translate(0);
    }
    90%{
        transform: skew(-5deg);
    }
    100%{
   transform: skew(0deg);
    }
}
.slide_in h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(29, 61, 95);
    padding: 10px;
    margin-top: 5%;
    /* background: linear-gradient(to left,#eee,#ddd); */
}
.slide_in p{
    margin: 2% 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
    color:#cac5c5;
}
.cloud-b{
    margin: 1% 1.5%;
    padding-bottom: 0%;
    background: linear-gradient(to left,transparent,#444);
    /* border: 2px solid #333; */
}
.cloud-b h2{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
    color: #eee;
}
.cloud-set {
    /* border: 2px solid rgb(47, 148, 249); */
    background: linear-gradient(to left,transparent,#444);
    width: 100%;
    margin: 2% 0%;
    border-radius: 6px;
    display: flex;

}
@media (max-width:500px){
    .cloud-set{
       margin: 12% 0;
    }
}
.cloud-set-a{
    width: 50%;
}
.cloud-set-a .seta-img img{
    width: 97%;
    height: 200px;
    margin: 2% 2%;
    border-radius: 12px;
}
@media (max-width:500px){
    .cloud-set-a .seta-img img{
       height: 140px;
    }
}
.cloud-set-b{
    width: 50%;
}
.cloud-set-b h2{
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    color: #eee;
    margin-left: 3%;
    margin-top: 2%;
}
@media (max-width:500px){
    .cloud-set-b h2{
       font-size: 12px;
    }
}
.cloud-set-b p{
    margin: 2% 3%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 15px;
    color:#eee;
    padding: 5px;
}
@media (max-width:500px){
    .cloud-set-b p{
       font-size: 10px;
    }
}
.button-set{
    margin: 4% 3%;
}
.button-set button{
    width: 100%;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    font-size: 14px;
    color: #333;
    background-color: #e0dbdb;
    padding: 8px;
    border: 2px solid #d4cece;
 
}
@media (max-width:500px){
    .cloud-set-b button{
       font-size: 10px;
       padding: 4px;
    }
}
.button-set button i{
    color: chocolate;
    font-size: 17px;
}

/* cloud service */

.cloud-service{
   margin: 3% 0%;
   padding: 5px;
}
@media (max-width:500px){
    .cloud-service{
        margin: 4% 0%;
        padding: 5px;
     }
   }
.cloud-service h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(11, 28, 46);
    padding: 7px;
    margin-top: 3%;
}
.cloud-service p{
    margin: 1% 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
    color:#555;
}
.service-list-container{
    margin: 2% 1%;
}
.shop-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap:1.5rem;
    margin: 3% 0%;
}
@media (max-width:500px){
    .shop-list{
      display: grid;
     grid-template-columns: repeat(auto-fit,minmax(240px,auto));
     gap:0.2rem;
    
    }
   }
.shop-box{
   border: 1px solid #cacdd6;
   background-color: rgb(11, 28, 46);
   margin-bottom: 5vh;
   border-radius: 12px;
   margin-top: 0%;
}
@media (max-width:500px){
    .shop-box{
        
        margin-top: 2%;
     }
   }
.shop-box:hover{
   box-shadow: 2px 2px 2px rgb(47, 148, 249);  
}
.shop-box img{
    width: 100%;
    height: 300px;
    opacity: .6;
    border-radius: 3px;
    /* margin-top: 2%; */
}
@media (max-width:500px){
    .shop-box img{
        height: 300px;
        margin: 1% 5%;
        width: 90%;
    }
}
.shop-box h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px;
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#cac5c5;
    letter-spacing: 1px;
    margin-bottom: 3%;
    margin-top: 2%;

}
@media (max-width:500px){
    .shop-box h3{
        font-size: 18px;
        padding: 2px;
        margin: 0%;
    }
     }
.shop-box p{
    margin: 2% 4%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 13px;
    color:#888;
    padding: 7px;
}


/*  */
/*  */
.table-2{
    background-color: rgb(11, 28, 46);

}
.table-2 h1{
    text-align: center;
    color: #cacdd6;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    text-decoration: underline;
}
table{
    margin: 3% 5%;
    /* border: 2px solid rgb(61, 129, 126); */
    border-radius: 6px;
    padding-bottom: 3%;
    padding-top: 1%;
    width: 90%;

}

table th{
    text-transform: uppercase;
    border: 2px solid #cac5c5;
    padding: 7px;
    font-size: 18px;
    background-color: rgb(115, 122, 129);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: #ddd;
    text-align: left;
}
table td {
    text-transform: capitalize;
    /* border-right: 2px solid #cac5c5; */
    border: 2px solid #eee;
    padding: 9px;
    color: #eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    background-color: rgb(29,61,95);
}
table td p{
    padding: 7px;
    margin: 1% 3%;
    color: #333;
}
table .price{
    background-color: #d4cece;
    color: #333;
    font-weight: 500;
    font-size: 16px;
   margin: 1% 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table .price span{
    color: rgb(233, 77, 77);
    font-size: 14px;
}
@media (max-width:500px){
    .p-text {
        font-size: 13px;
        margin: 0% 0%;
    }
 }



/* cloud side */
.cloud-service-heading{
    /* background-color: #eee; */
    margin-bottom: 2%;
}
.cloud-service-heading h1{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 19px;
    color: rgb(29,61,95);
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.cloud-service-heading  p{
    margin: 2% 4%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 13px;
    color:#eee;
    padding: 7px;
}
.cloud-service-heading .blocks-head{
    display: flex;
    margin: 1% 1%;
}
@media (max-width:500px){
     .blocks-head{
        display: block;
        /* margin: 1% 1%; */
    }
     }
.blocks-head .block-1{
     border: 2px solid #eee;
     width: 100%;
     padding: 6px;
     margin-top: 1%;
     background-color: #555;
}
.block-1 h3{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px;
    font-size: 16px;
    color: #cac5c5;
}
.block-1 p{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    padding: 3px;
    font-size: 15px;
    color: #cac5c5;
}
.block-1 h4{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px;
    font-size: 16px;
    color: #cac5c5;
}

/*  */


.cloud-sides{
    margin: 3% 0%;
    display: flex;
    background: linear-gradient(to left,#eee,#ddd);
   padding: 10px;
}
@media (max-width:500px){
    .cloud-sides{
        display: block;
    }
}
.cloud-left{
    width: 50%;
    padding: 10px;
}
@media (max-width:500px){
    .cloud-left{
        width: 100%;
        /* padding: 10px; */
    }
}
.cloud-left h2{
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 19px;
    color: #333;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.cloud-left ul li{
    list-style: none;
    margin-top: 2%;
}
.cloud-left ul li .left-list {
    margin-top: 2%;
}
.cloud-left ul li .left-list h3{
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: #333;
    margin-left: 6%;
    margin-top: 2%;
}
.cloud-left ul li .left-list h3 strong{
    background-color: rgb(29, 61, 95);
    color: #FFFFFFFF;
    border: 2px solid rgb(11, 28, 46);
    border-radius: 100px;
    padding: 3px;
    margin-right: 1%;
    font-size: 12px;
}
.cloud-left ul li .left-list p{
    margin: 2% 6%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
    color:#444;
}
.cloud-right{
    width: 50%;
    padding: 10px;
}
@media (max-width:500px){
    .cloud-right{
        width: 100%;
        /* padding: 10px; */
        margin-top: 2%;
    }
}
.text-block-two{
    position: absolute;
    bottom: 5vh;
    left:15%;
    color: #EEE;
    padding-left: 4px;
    top: 23%;
}
@media (max-width:500px){
    .text-block-two{
        left: 5%;
    }
}
.text-block-two h1, h2 ,h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 1%;
    font-size: 24px;
    padding: 6px;
    color:#FFFFFFFF;
}
.cloud-right .image{
    margin: 1% 1%;
    background-color: #000;
    border-radius: 12px;
    border: 2px solid rgb(11, 28, 46);
    position: relative;

}
.cloud-right .image img{
    width: 100%;
    height: 400px;
    border-radius: 12px;
    opacity: .4;
}
.cloud-right .advert h4{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(190, 60, 13);
    margin-left: 6%;
    margin-top: 2%;
}
.cloud-right .advert p{
    margin: 2% 6%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
    color:#444;
}

/* form section */
.form-container{
    margin-top: 4%;
}
@media (max-width:500px){
    .form-container{
        margin-top: 3%;
    }
}
.form-container h1{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(11, 28, 46);
    margin-left: 6%;
    margin-top: 2%;
}
@media (max-width:500px){
    .form-container h1{
        padding-top: 4%;
        padding-bottom: 1%;
    }
}
.form-container p{
    margin: 2% 6%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 14px;
    color:#444;
}
.form{
    margin: 2% 6%;
    background-color: rgb(11, 28, 46);
}
@media (max-width:500px){
    .form{
        margin: 2% 0%;
    }
}
.form form{
    margin: 3% 5%;
}
.form h2{
    text-align: center;
    font-size: 18px;
    color: #cac5c5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1%;
}
.form form input{
    width: 90%;
    margin: 2% 4%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d4cece;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.form form input::placeholder{
    font-size: 16px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.form .button{
    margin-left: 35%; 
    margin-top: 2%; 
    margin-bottom: 3%;
}
.button button{
    padding: 12px;
    width: 50%;
    font-size: 17px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 6%;
}

 
/*  */
.footer {
    padding: 10px;
    background-color:#333;
}
.footer p{
    font-size: 16px;
    text-transform:uppercase;
    margin-bottom: 1vh;
    font-weight: 400;
    text-align: center;
    color:#ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px;  
  
}
.footer p span{
    color: rgb(190, 60, 13);
    font-weight: 700;
    font-size: 20px;
}